@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --font-family: 'Oswald', sans-serif;
  --letter-spacing: 0.5px;
  --background: white;
  --background-hover: rgb(243, 237, 237);
  --background-alt: rgb(250, 230, 209);
  --padding: 8px 16px;
  --padding-square: 10px;
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  gap: var(--padding-square);
}
