.card {
  --card-content-spacing: 10px;

  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;

  .card-picture {
    width: 100%;
    max-width: 100%;
  }

  .card-content {
    position: absolute;
    background: var(--background);
    width: calc(100% - (2 * var(--card-content-spacing)));
    bottom: var(--card-content-spacing);
    left: var(--card-content-spacing);
    padding: var(--padding);
    opacity: 0;
    transition: opacity 0.125s ease-in;

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &:focus,
  &:hover {
    z-index: 1;
    .card-content {
      opacity: 1;
    }
  }
}
